.container {
    padding-left: 15px;
    padding-right: 15px;    
        margin-left: auto;
        margin-right: auto;       
        width: 738px;
   

    
}

.advantages-list{
    display: flex;
    flex-wrap: wrap;
}

.advantages-list__item {
    width: calc((100% / 3) - (2rem / 3));
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);

    
    
}
/* .advantages-list__item:not(:last-child) {
    margin-bottom: 28px;
} */

.advantages-list__item.human-icon::before {
    display: inline-block;
    margin-right: 12px;
    content: '';
    width: 59px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url('/src/images/tablet-human-icon.svg');
    background-size: contain;
    background-position: center;
}

.advantages-list__item.cap-icon::before {
    display: inline-block;
    margin-right: 12px;
    content: '';
    width: 59px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url('/src/images/tablet-cap-icon.svg');
    background-size: contain;
    background-position: center;
}

.advantages-list__item.umbrella-icon::before {
    display: inline-block;
    margin-right: 12px;
    content: '';
    width: 59px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url('/src/images/tablet-umbrella-icon.svg');
    background-size: contain;
    background-position: center;
}